.prediction-card{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teams-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.match-date {
  font-size: 0.85rem;
  color: #666;
}

.divider {
  border: 0;
  border-top: 1px solid #000;
  width: 90%;
  margin: 5px auto;
}

.stats-section label, 
.prediction-footer label {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.xg-display {
  font-size: 1.8rem;
  font-weight: bold;
}

.xg-separator {
  margin: 0 10px;
  color: #ccc;
  font-weight: 100;
}

.probabilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie-chart {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px 0;
}

.prob-legend {
  display: flex;
  gap: 10px;
  color: #777;
}

.prediction-result-text {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  color: white;
}